@import 'base';

.ssm {
  background: url('../images/black-hole--mobile.jpg') top center no-repeat;
  background-size: cover;
  height: 100vh;
  position: relative;
  overflow: hidden;
  width: 100vw;

  @media (min-width: 1024px) {
    background: url('../images/black-hole--desktop.jpg') top center no-repeat;
    background-size: cover;
  }

  &-logo {
    height: auto;
    padding-top: 25%;
    min-height: 45vh;
    position: relative;
    width: 100%;

    @media (min-width: 768px) {
      margin: auto;
      padding-top: 70%;
      width: 80%;
    }
    
    @media (min-width: 1920px) {
      margin: auto 15%;
      padding-top: 35%;
      width: 40%;
    }

    &--svg {
      bottom: 0;
      fill: $ssm-lightest;
      left: 0;
      position: absolute;
      width: 10%;
    }
  }

  &-mission {
    line-height: 1.5;
    margin: 0;
    padding: 35px 40px 20px 40px;
    position: relative;

    @media (min-width: 768px) {
      padding: 35px 350px 20px 80px;
    }
    
    @media (min-width: 1920px) {
      padding: 35px 15%;
    }

    &--statement {
      @include Europa-Bold;
      color: $ssm-lightest;
      font-size: 20px;
      margin: 0 0 30px 0;
    }
  }
  
  &-action {
    margin: 0;
    padding: 0;
    position: relative;

    &--link {
      @include Europa-Bold;
      color: rgba($ssm-lightest, .50);
      font-size: 14px;
      margin: 0;
      text-decoration: none;
      transition: all .25s ease-out;

      @media (min-width: 768px) {
        font-size: 16px;
      }

      &:hover {
        color: rgba($ssm-lightest, 1);
      }

      &[data-action-type='instagram'] {
        .ssm-action--link_text {
          color: $ssm-magenta;
        }

        &:hover {
          color: $ssm-magenta;
        }
      }
      
      &[data-action-type='twitter'] {
        .ssm-action--link_text {
          color: $ssm-cyan;
        }

        &:hover {
          color: $ssm-cyan;
        }
      }
    }
  }

  &-slideout {
    @include Fira-Mono-OT-Regular;
    background: $ssm-key;
    bottom: -90%;
    height: 100vh;
    left: 0;
    position: absolute;
    transition: all .25s ease-out;
    width: 40vw;
    z-index: 99;

    @media (min-width: 1920px) {
      bottom: 0;
      left: 60%;
    }

    &:hover {
      cursor: pointer;
    }

    &[data-active='true'] {
      bottom: 0;

      .ssm-slideout--toggle {
        &:after {
          transform: rotate(180deg);
          transition-delay: .15s;
        }
      }
    }

    &--toggle {
      border-bottom: thin solid $ssm-darker;
      border-top: thin solid $ssm-darker;
      color: $ssm-lightest;
      text-align: center;
      padding: 15px 0 40px 0;
      position: relative;

      @media (min-width: 768px) {
        padding: 80px 0 20px 0;
      }
      
      @media (min-width: 1920px) {
        border: thin solid blue;
        height: 100vh;
        left: 0;
        position: absolute;
        width: 100px;
      }

      &:after {
        content: '^';
        color: $ssm-lightest;
        height: 12px;
        left: 50%;
        position: absolute;
        top: 50%;
        transform: rotateY(180deg);
        transform-style: preserve-3d;
        transform-origin: 25% 25%;
        transition: all .45s ease-out;
        width: 20px;
      }
    }

    &--form {
      color: $ssm-lightest;
      font-size: 10px;
      margin: 0 0 50px 0;
      padding: 25px;

      @media (min-width: 768px) {
        font-size: 16px;
        padding: 80px;
      }
      
      @media (min-width: 1920px) {
        border: thin solid red;
        margin: auto;
        width: 70%;
      }

      &_prompt {
        margin: 40px 0;
      }

      &_field-wrapper {
        display: flex;
        flex-grow: 1;
        margin: 35px 0;
        position: relative;
      }

      &_name-lbl, &_message-lbl {
        flex-grow: 1;
        flex-basis: 30%;
      }
      
      &_name-fld, &_message-fld {
        background: transparent;
        border: none;
        color: $ssm-lightest;
        flex-grow: 2;
        flex-basis: 70%;
      }
    }

    &--social {
      padding: 25px;
      position: relative;

      @media (min-width: 768px) {
        padding: 80px;
      }

      @media (min-width: 1920px) {
        border: thin solid red;
        margin: auto;
        width: 70%;
      }

      &_header {
        color: $ssm-lightest;
        font-size: 10px;

        @media (min-width: 768px) {
          font-size: 16px;
        }
      }

      .ssm-action {
        display: inline-block;
        margin-right: 10px;
      }
    }
  }
}